.loading {
    font-style: italic;
    color: gray;
}

.chatContainer {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.messages {
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 20px;
    padding-right: 10px;
}

.userMessage {
    text-align: left;
    background-color: #e0f7fa;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.assistantMessage {
    text-align: left;
    background-color: #f1f8e9;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.inputContainer {
    display: flex;
    justify-content: space-between;
}

.input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.sendButton {
    width: 15%;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.sendButton:hover {
    background-color: #0056b3;
}

.selectButton {
    border-radius: 10px;
    border: none;
    padding: 5px;
    font-weight: bold;
    background: #47d148;
    color: white;
    cursor: pointer;
}

.modelSelector {
    margin-bottom: 20px;
}

.modelButton {
    font-weight: bold;
    margin: 0 10px;
    padding: 5px 5px;
    font-size: 16px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modelButton:hover {
    background-color: #007B9A;
}

.modelList {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.modelItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.modelItem span {
    font-weight: bold;
}

.downloadButton, .useButton {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.downloadButton {
    background-color: #4CAF50;
    color: white;
}

.downloadButton:hover {
    background-color: #45a049;
}

.useButton {
    background-color: #008CBA;
    color: white;
}

.useButton:hover {
    background-color: #007B9A;
}

.currentUrl {
    color: #007bff;
    font-weight: bold;
}
