.loading {
  font-style: italic;
  color: gray;
  height: 50px;
}

.chatContainer {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  background-color: #fffdfd;
}

/* 底部版权消失 输入框变为吸底效果 */
/*
    当屏幕宽度小于 768 像素时，将聊天容器的宽度设置为 86%，最大高度设置为 900 像素。
*/
@media screen and (max-width: 768px) {
  .chatContainer {
    width: 86%;
    max-height: 900px;
  }
  .inputContainer {
    position: fixed;
    padding-left: 43px;
    padding-right: 43px;
    padding: 6px;
    bottom: 0;
    width: 100%;
    left: 0;
    border-top: 1px solid #ccc;
  }

  .modelNameContainer {
    width: 100%;
    margin: 0 auto;
  }
  .modelName {
    font-size: medium;
  }

  .messages {
    margin: 0 auto;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 20px;
    padding-right: 10px;
  }

  .input {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.2s ease-in-out;
  }

  .input:active,
  .input:focus {
    font-size: large;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    /*
    适应chrome浏览器
    */
    outline: none;
  }

  .sendButton {
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }

  .sendButton:hover {
    background-color: #0056b3;
  }
}

.userMessage {
  text-align: left;
  background: linear-gradient(45deg, #3399ff, #3385cc, #4c8ecf, #557da1);
  color: white;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.assistantMessage {
  text-align: left;
  background: linear-gradient(45deg, #f1f8e9, #e2f1d9, #d3eac9, #c4e3b9);
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.inputContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
}

/*
    发送按钮的样式
*/
@media screen and (min-width: 768px) {
  .modelNameContainer {
    width: 60%;
    margin: 0 auto;
  }
  .modelName {
    font-size: medium;
  }

  .messages {
    margin: 0 auto;
    width: 50%;
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 20px;
    padding-right: 10px;
  }
  .input {
    width: 28%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bec2c7;
    transition: all 0.2s ease-in-out;
  }

  .input:active,
  .input:focus {
    font-size: large;
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #007bff;
    /*
        适应chrome浏览器
        */
    outline: none;
  }

  .sendButton {
    width: 5%;
    padding: 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }

  .sendButton:hover {
    background-color: #0056b3;
  }
}

.selectButton {
  float: right;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  background: #47d148;
  color: white;
  cursor: pointer;
}

.modelSelector {
  margin-bottom: 20px;
}

.modelButton {
  font-weight: bold;
  margin: 0 10px;
  font-size: 14px;
  background-color: #1abaf0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modelNotButton {
  background-color: #f7be45;
  font-weight: bold;
  margin: 0 10px;
  font-size: 14px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modelButton:hover {
  background-color: #007b9a;
}

.modelList {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.modelItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

.modelItem span {
  font-weight: bold;
}

.downloadButton,
.useButton {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.downloadButton {
  background-color: #4caf50;
  color: white;
}

.downloadButton:hover {
  background-color: #45a049;
}

.useButton {
  background-color: #008cba;
  color: white;
}

.useButton:hover {
  background-color: #007b9a;
}

.currentUrl {
  color: #007bff;
  font-weight: bold;
}
